*.class
#package file
*.war
*.ear
#kdiff3
*.org

#maven
target/

#eclise
.settings/
.project
.classpatch

#
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp
*.log
*.cache
*.diff
*.tmp
*.patch


#system

.DS_Store
Thumbs.db
